{% extends 'layout/layout.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div id="tree"></div>
        </div>
        <div class="col-md-9">
            {% if paginator %}
            {% for v in paginator %}
                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ v.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">{{ v.user.displayName }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> 發布於 {{ v.createTime.format('Y-m-d H:i:s') }}</p>

                {% if v.previewImage %}
                    <hr>
                <!-- Preview Image -->
                <img alt="" src="http://placehold.it/900x300" class="img-responsive">
                {% endif %}
                <hr>
                {% if v.kind == 'text' %}
                    {{ v.content|raw }}
                {% elseif  v.kind == 'file'%}
                   {% include 'application/menu/page-file.twig' %}
                {% endif %}

                <hr>
            {% endfor %}
                {{ paginationControl(paginator, 'Elastic', 'pagination.twig',
                {'route':'cms/cms-page','controller':'page'}) }}
            {% endif %}


        </div>
    </div>



{% endblock content %}
{% block style %}
    <link href="{{ basePath() }}/css/blog-skin.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block inline %}
    <script type="text/javascript" src="{{ basePath }}/js/bootstrap-treeview.min.js"></script>
    <script type="text/javascript">
        $(function(){

            function getTree() {
                var tree = {{ MenuTree(null, params().fromRoute('id')) }};
                return tree;
            }

            $('#tree').treeview({
                levels: 3,
                enableLinks: true,
                data: getTree()
            });

        })
    </script>
{% endblock %}