{% extends 'layout/layout.twig' %}
{% block title %}{{ menuData.name }}-{{ page.title }}{% endblock %}
{% block pageTitle %}
    {{ PageTitle (menuData.name,{'icon':'ion-ios-download-outline'}) }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if paginator %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序號</th>
                        <th>標題</th>
                        <th>更新日期</th>
                        <th>下載數</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for v in paginator %}
                        <tr>
                            <td class="col-sm-1">{{ paginator.itemCountPerPage * (paginator.currentPageNumber-1) + loop.index }}</td>
                            <td class="col-sm-8">
                                {% if v.pageFiles|length > 1 %}
                                    <a href="#" class="show-file">{{ v.title }}
                                        {% if v.pageFiles|length > 1 %}({{ v.pageFiles|length }}個檔案){% endif %}
                                    </a>
                                    <div class="file-div" style="display:none">
                                        <ul class="list-group">
                                            {% for f in v.pageFiles %}
                                                <li class="list-group-item"><a href="/file/get-file/{{ f.fileName }}">{{ f.sourceName }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% else %}
                                    <a href="/file/get-file/{{ v.pageFiles[0].fileName }}">{{ v.title }}</a>
                                {% endif %}
                            </td>
                            <td class="col-sm-2">{{ v.createTime.format("Y-m-d") }}</td>
                            <td class="col-sm-1">{{ v.hits }}</td>
                        </tr>


                    {% endfor %}
                    </tbody>
                </table>
                {{ paginationControl(paginator, 'Elastic', 'application/file/pagination.twig',{}) }}
            {% endif %}

        </div>

    </div>

    <div id="fb-root"></div>
{% endblock content %}
{% block style %}

{% endblock %}

{% block inline %}
    <script>
        $(function () {
            $(".show-file").click(function () {
                $(this).next().toggle();
                return false;
            });
        })
    </script>
{% endblock %}