{% extends 'layout/layout.twig' %}
{% block pageTitle %}
    {{ PageTitle ('記事本') }}
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <a href="/admin/note/add"><span class="btn btn-primary">新增記事</span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <table class="table table-hover">
                {% for v in data %}
                <tr>
                    <td>{{ v.user.name }}</td>
                    <td>{{ v.user.password }}</td>
                    <td>{{ v.title }}</td>
                    <td>{{ v.createTime.format("Y-m-d H:i:s") }}</td>
                    <td>
                        <a href="/admin/note/edit?id={{ v.id }}"><span class="btn btn-warning"><i class="fa fa-edit"></i> edit</span></a>
                        <a href="/admin/note/delete?id={{ v.id }}"><span class="btn btn-danger">Delete</span></a>
                    </td>
                    <td>
                        {% for m in v.user.menus %}
                            {{ m.name }}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}