{% extends 'layout/layout.twig' %}
{% block pageTitle %}
    {{ PageTitle ('作業管理') }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <a href="/exam/admin/add"><span class="btn btn-primary pull-right"><i class="fa fa-plus"></i> 新增</span></a>

            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>作業名稱</th>
                    <th>開放時間</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for v in data %}
                    <tr>
                        <td>{{ v.subject }}</td>
                        <td>{{ v.openTime.format('Y-m-d H:i') }}</td>
                        <td>
                            <a href="/exam/admin/add?id={{ v.id }}"><span class="btn btn-xs btn-warning edit-btn">
                                <i class="fa fa-pencil"></i> 修改
                            </span>
                            </a>
                            <span class="btn btn-xs btn-danger delete-btn" data-id="{{ v.id }}">
                                <i class="fa fa-trash"></i> 刪除
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>



    </div>


{% endblock %}
{% block inline %}
    <script>
        $(".delete-btn").click(function () {
            let id = $(this).data('id');
            $.get('/exam/admin/delete', {id:id} , function (res) {
                if (res.success) {
                    window.location.reload();
                }
            })
        });

    </script>

{% endblock inline %}

