{% for id, menu in LeftMenu %}
    <li>
        <a {% if menu.url %}href="{{ menu.url }}" target="{{ menu.target }}"{% else %}href="{{ url('menu') }}/{{ id }}"{% endif %}>
            <i class="fa {% if menu.pages %}fa-navicon{% else %}fa-file-text-o{% endif %} fa-fw"></i> {{ menu.label }} {% if menu.url %}<i class="glyphicon glyphicon-link"></i>{% endif %}
            {% if menu.pages %}<span class="fa arrow"></span>{% endif %}</a>
        {% if menu.pages %}
        <ul class="nav ">
            {% include "layout/left-menu.twig" with {'LeftMenu': menu.pages} %}
        </ul>
        {% endif %}
    </li>

{% endfor %}
