{% extends 'layout/layout.twig' %}
{% block pageTitle %}
 {{ PageTitle ('頁面編修',{'icon':'ion-compose'}) }}
{% endblock %}
{% block content %}
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">

                    <form id="pageForm" method="get">
                        {{ formRow(form.get('menu_id')) }}
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-12">

                            <div id="data-list"></div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block style %}
    <link href="{{ basePath() }}/css/bootstrap-dialog.min.css" media="screen" rel="stylesheet" type="text/css">


{% endblock %}
{% block inline %}
    <script type="text/javascript" src="{{ basePath }}/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="{{ basePath }}/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="{{ basePath }}/js/jquery.MultiFile.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/standard-all/ckeditor.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#data-list").on('click', '#pagination-div a', function(){
                var page = $(this).data('page');
                var id = $("select[name='menu_id']").val();
                var url = "{{ url('cms/default',{controller:'page', action:'get-page-list'}) }}";
                $.get(url, {id: id, page:page }, function (html) {
                    $("#data-list").html(html);
                });
            });

            $("#data-list").on('click', '.btn-delete', function () {
                var id = $(this).parents('tr').data('id');
                var parentTr = $(this).parents('tr');
                BootstrapDialog.show({
                    title: '刪除對話框',
                    message: '確定刪除?',
                    buttons: [{
                        label: '確定',
                        cssClass: 'btn-danger',
                        action: function (dialogRef) {
                            var url = '{{ url('cms/default',{controller:'page',action:'delete'}) }}';
                            $.get(url, {id: id}, function (res) {
                                if (res.success) {
                                    parentTr.remove();
                                    dialogRef.close();
                                }

                            });
                        }
                    },
                        {
                            label: '取消',
                            cssClass: 'btn-default',
                            action: function (dialogRef) {
                                dialogRef.close();
                            }
                        }]
                });
            }).on('click','.btn-append', function () {
                var menu_id = $("select[name='menu_id']").val();
                var param_url = 'menu_id=' + menu_id;
                var kind = $(this).data('kind');

                param_url += '&kind=' + kind;


                var url = '{{ url('cms/default',{controller:'page',action:'get-page'}) }}?' + param_url;
                $.get(url, function (html) {
                    $("#data-list").html(html);
                });
            });

            $("#data-list").on('click','#cancel-btn',function () {
                $("select[name='menu_id']").trigger('change');
            });

            $("#data-list").on('click','.btn-edit',function () {
                var menu_id = $("select[name='menu_id']").val();
                var param_url = 'menu_id=' + menu_id;
                var kind = $(this).data('kind');
                param_url += '&id=' + $(this).parents('tr').data('id');
                var url = '/cms/page/get-page?' + param_url;
                $.get(url, function (html) {
                    $("#data-list").html(html);
                });
            });

            // 文字
            // 檔案
            $("#data-list").on('click', '#file-btn, #text-btn, #url-btn', function () {
                CKupdate();
                var menu_id = $("select[name='menu_id']").val();
                $("#setForm input[name='menu_id']").val(menu_id);
                $("#setForm").ajaxSubmit({
                    success: function (res) {
                        if (res.success) {
                            $("select[name='menu_id']").trigger('change');
                        }
                        else {
                            BootstrapDialog.alert('請檢查錯誤的欄位');
                            $("#setForm input").removeClass('alert-danger');
                            $.each(res.message, function (i, v) {
                                $("input[name='" + i + "']").addClass('alert-danger');
                            });
                        }
                    }
                });
            });



            $("select[name='menu_id']").change(function () {
                var id = $(this).val();
                var url = "{{ url('cms/default',{controller:'page', action:'get-page-list'}) }}";
                $.get(url, {id: id}, function (html) {
                    $("#data-list").html(html);
                });
            });

            $("select[name='menu_id']").trigger('change');


            function CKupdate() {
                if(typeof CKEDITOR === 'undefined')
                return true;
                for (instance in CKEDITOR.instances)
                    CKEDITOR.instances[instance].updateElement();
            }
        });
    </script>

{% endblock inline %}