<form method="post" id="setForm">
{{ formRow(form.get('title')) }}
{{ formRow(form.get('url')) }}
{{ formRow(form.get('url_target')) }}
    {{ formRow(form.get('order_id')) }}
{{ formRow(form.get('id')) }}
<input type="hidden" name="kind" value="url">
</form>


