<form method="post" id="setForm">
{{ formRow(form.get('title')) }}
{{ formRow(form.get('url')) }}
{{ formRow(form.get('url_target')) }}
    {{ formRow(form.get('order_id')) }}
{{ formRow(form.get('id')) }}
<input type="hidden" name="kind" value="url">
</form>
<button class="btn btn-primary" id="url-btn"><i class="fa fa-save"></i> 確定</button>
<button class="btn btn-default" id="cancel-btn"><i class="fa fa-undo"></i> 放棄編輯</button>


