{% extends 'layout/layout.twig' %}
{% block pageTitle %}
    {{ PageTitle ('個人資料編修', {'icon':'ion-android-contact'}) }}
{% endblock %}
    {% block content %}
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">

                        {% include 'user/menu.twig' %}
                    </div>
                    <div class="col-sm-8">
                        <p>您好! {{ user.name }}</p>
                        <p><span class="label-info">登入帳號:</span> {{ user.username }}</p>
                        <p><span class="label-info">任職單位:</span> {{ user.mrUnit.fullName }}</p>
                                {{ form(form) }}
                                <button class="btn btn-primary" id="submit-btn">確定修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}

{% block inline %}

    <script>
        $(function () {
            $("#submit-btn").click(function () {
                $("#user_form").submit();
            });
        })
    </script>

{% endblock %}